/*
Colorscheme:

Dark Violet: #2B2637;
Dark Grape: #3C3547;
Plum: #5F5265;
Dark Slate Blue: #4A5569;
Cream: #FCF2E6;

Fontfaces:
font-family: 'Lato', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	clear: both;
}

body {
  background-color: #5F5265;
  text-align: center;
  color: #FCF2E6;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 45px;
}

h3{
	font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

p{
	font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #FCF2E6;
}

a:hover {
  text-decoration: underline;
  color: #FCF2E6;
}

/*---------------------Header---------------------*/

header {
    background: #3C3547;
}

header h1 {
  text-align: left;
}

header h1 a {
    font-size: 50px;
    margin-left: 1em;
}

header nav {
  text-align: right;
  margin-top: 1.3em;
}

header nav a {
    margin-left: 1em;
    margin-right: 50px;

}

/*---------------------Main---------------------*/

main.row {
    min-height: 600px;
}


/*---------------------Landing Page View---------------------*/

section.selling-points.row {
    margin-left: 0;
    margin-right: 0;
}

section.landing.col-12 {
    padding: 0;
}

section.landing .point {
    padding-left: 2em;
}

.landing h2 {
  margin-bottom: 1em;
  background-image: url(/assets/images/blurred_backgrounds/blur_bg_3.jpg);
  height: 300px;
  padding-top: 10%;
}

.fa-music {
	margin-bottom: 1em;
	font-size: 50px;
}

.fa-headphones{
	margin-bottom: 1em;
	font-size: 50px;
}

.fa-mobile-alt{
	margin-bottom: 1em;
	font-size: 50px;
}

/*---------------------Library Page View---------------------*/

section.library.col-12 {
    margin-top: 2em;
}

.albumInfo .col-lg-4, .albumInfo .col-lg-8 {
    display: inline;
}

.albumInfo > a {
    width: 80%;
    margin-left: 10%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FCF2E6;
}

.albumInfo:first-of-type > a {
	border-top: 1px solid #FCF2E6;
}

.albumInfo > a:hover {
    text-decoration: none;
    background-color: #4A5569;
}

.albumInfo img {
    width: 150px;
}

/*---------------------Footer---------------------*/

footer {
  background: #2B2637;
  height: 80px;
  padding-top: 2.5%;
	text-align: center;
}

footer p {
	width: 100%;
}
